GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_SENDER_EMAIL=emergenciasdoh@gmail.com
ALERT_EMAIL_TO=marcelo.ulloa@mop.gov.cl
SUPABASE_URL=
SUPABASE_ANON_KEY=
SITES_BOOTSTRAP_TOKEN=
PRIMARY_ADMIN_EMAIL=marcelo.ulloa@mop.gov.cl
